body{
  background-color: #000;
}

.btn-danger{
  color: $light;
}

.card-body{
  padding: .5rem .5rem;
}

.no-pad{
  padding: 0 !important;
}
.no-pad-left{
  padding-left: 0 !important;
}
.no-pad-right{
  padding-right: 0 !important;
}

.btn-square{
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
}

.btn-rect{
  padding-top:15px;
  padding-bottom:15px;
}
